[submodule "ESP32/esp-idf"]
	path = ESP32/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "ESP32/xtensa-esp32-elf"]
	path = ESP32/xtensa-esp32-elf
	url = https://github.com/SHA2017-badge/xtensa-esp32-elf.git
[submodule "ESP32/components/nmea"]
	path = ESP32/components/nmea
	url = https://github.com/igrr/libnmea-esp32.git
[submodule "ESP32/components/i2c_sensors/bme280"]
	path = ESP32/components/i2c_sensors/bme280
	url = https://github.com/BoschSensortec/BME280_driver.git
[submodule "ESP32/components/gui/lvgl"]
	path = ESP32/components/gui/lvgl
	url = https://github.com/littlevgl/lvgl.git
